.logo {
  font-family: 'Anurati';
  font-size: 3rem;
  color: white;
  display: flex;
  position: fixed;
  z-index: 1500;
  margin-top: 1rem;
  margin-left: 2rem;
  //   margin-top: 3rem;
  //   margin-left: 3rem;
  //   margin-bottom: 3rem;
  //   margin-right: 3rem;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
