body {
  margin: 0;
  background-color: black !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center !important;
  position: fixed;
  z-index: 5;
  background: transparent !important;
}

.app-bar {
  background-color: transparent !important;
  flex-grow: 1;
}

@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url(./assets/anurati-regular.otf);
  // src: local('Anurati'), url(./assets/scss/anurati-regular.otf);
}
